body{
    background-color: darkolivegreen;
    text-align: center;
}

.quizbox{
    background-color:beige;
    border: 2px dashed rgb(82, 148, 112);
    border-radius: 5;
    width: 700px;
    height: 500px;
    margin-left:auto;
    margin-right: auto;
    padding: 1em;
}
